@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* evita scroll e barras brancas */
html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

/* fundo */
.bg {
  position: absolute;
  inset: 0;
  background-image: url(' background-image: url("./images/backgroundweb.jpg");');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay roxo */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(33, 25, 81, 0.4);
  z-index: 1;
}

/* CONTEÚDO CENTRALIZADO NA TELA */
.content {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center;  
  height: 100%;
  gap: 32px;             
}

/* título */
.tittle {
  font-size: 64px;
  text-shadow: 2px 2px 4px purple;
  margin: 0;                
  text-align: center;
  font-family: "Poppins", sans-serif;

}

/* caixa */
.inputcontainerApp {
  background-color: rgba(0,0,0,0.25);
  height: 400px;
  width: 350px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  gap: 16px;
  backdrop-filter: blur(2px);
  border: 2px solid #EEEEEE66;
}



/* subtítulo dentro da caixa */
.inputcontainerApp h2 {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  gap: 4px; 
  font-weight: 550;
  font-family: "Poppins", sans-serif;

}

.inputcontainerApp p {
  width: 100%;
  display: block;
  font-size: 16px;
  color: #fff;
  text-align: left;      
  margin: 4px;
  font-weight: 450; 
  font-family: "Poppins", sans-serif;
}


/* inputs */
.inputcontainerApp input {
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid #EEEEEE66;
  background-color: rgba(0,0,0,0.25);
  color: #FFFFFF;
  outline: none;
  font-size: 16px;
  width: 280px;
  height: 36px;
  font-family: "Poppins", sans-serif;

}

.inputcontainerApp input::placeholder {
  color: rgba(255,255,255,0.7);
  font-size: 16px;
  font-weight: 550;
}



.inputcontainerApp button {
  background-color: #211951;
  color: #FFFFFF;
  display: block;
  text-align: center;
  height: 36px;
  width: 124px;
  border-radius: 15px;
  border-color: #211951;
  align-items: center;
  font-weight: 450;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  justify-content: center; 
  cursor: pointer;
  margin-top: 16px;
}

.registerrouter {
  font-size: 16px;
  color: #fff;
  text-align: left;     
  margin: 2px;   
  text-align: center;
  font-weight: 450;
  font-family: "Poppins", sans-serif;

}

.registerrouter h3 {
  display: block;
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: center; 
  align-items: center;    
  font-weight: 450;   
  font-family: "Poppins", sans-serif;
  align-self: center;
}

.registerrouter a {
  text-decoration-line: none;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}