@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* evita scroll e barras brancas */
html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

/* fundo */
.bg {
  position: absolute;
  inset: 0;
  background-image: url(' background-image: url("./images/backgroundweb.jpg");');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay roxo */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(33, 25, 81, 0.4);
  z-index: 1;
}

/* CONTEÚDO CENTRALIZADO NA TELA */
.contentRd {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center;  
  height: 100%;
  gap: 32px;             
}

/* título */
.tittle {
  font-size: 64px;
  text-shadow: 2px 2px 4px purple;
  margin: 0;                
  text-align: center;
  font-family: "Poppins", sans-serif;

}

/* caixa */
.inputcontainerRd {
  background-color: rgba(0,0,0,0.25);
  height: 400px;
  width: 350px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  gap: 16px;
  backdrop-filter: blur(2px);
  border: 2px solid #EEEEEE66;
}



/* subtítulo dentro da caixa */
.inputcontainerRd h2 {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  gap: 4px; 
  font-weight: 550;
  font-family: "Poppins", sans-serif;

}

.textRd {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.textRd p {
  font-size: 14px;
  color: #fff;
  margin: 16px 0;
  font-weight: 450;
  font-family: "Poppins", sans-serif;
  max-width: 300px;   /* encaixa igual ao Figma */
}


.inputcontainerRd p {
  width: 100%;
  display: block;
  font-size: 16px;
  color: #fff;
  text-align: center;      
  margin: 36px;
  font-weight: 450; 
  font-family: "Poppins", sans-serif;
}




.circleButton {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: .2s ease;
}

.circleButton:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.25);
}   


