@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* evita scroll e barras brancas */
html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

/* fundo */
.bg {
  position: absolute;
  inset: 0;
  background-image: url('./backgroundweb.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay roxo */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(33, 25, 81, 0.4);
  z-index: 1;
}

/* CONTEÚDO CENTRALIZADO NA TELA */
.content {
  position: relative;
  z-index: 2;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;      /* centraliza horizontal */
  justify-content: center;  /* centraliza vertical */

  height: 100%;
  gap: 32px;                /* espaço entre título e caixa */
}

/* título */
.tittle {
  font-size: 64px;
  text-shadow: 2px 2px 4px purple;
  margin: 0;                
  text-align: center;
  font-family: "Poppins", sans-serif;

}

/* caixa */
.inputcontainer {
  background-color: rgba(0,0,0,0.25);
  height: 400px;
  width: 350px;
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;
  gap: 20px;
  backdrop-filter: blur(2px);
  border: 2px solid #EEEEEE66;
}

/* subtítulo dentro da caixa */
.inputcontainer h2 {
  color: white;
  margin-top: 4px;
  margin-bottom: 4px;
  gap: 4px; 
  font-weight: 550;
  font-family: "Poppins", sans-serif;

}

/* inputs */
.inputcontainer input {
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #EEEEEE66;
  background-color: rgba(0,0,0,0.25);
  color: #FFFFFF;
  outline: none;
  font-size: 16px;
  width: 280px;
  height: 35px;
  font-family: "Poppins", sans-serif;

}

.inputcontainer input::placeholder {
  color: rgba(255,255,255,0.7);
  font-size: 16px;
  font-weight: 550;
}

.inputcontainer h3 {
  width: 100%;
  display: block;
  font-size: 16px;
  color: #fff;
  text-align: left;      
  margin: 6px;
  font-weight: 450; 
  font-family: "Poppins", sans-serif;

}

.inputcontainer h4 {
  width: 100%;
  display: block;
  font-size: 16px;
  color: #fff;
  text-align: left;     
  margin: 6px;
  font-weight: 450;   
  font-family: "Poppins", sans-serif;
       
}

.inputcontainer button {
  background-color: #211951;
  color: #FFFFFF;
  display: block;
  margin: 32px;
  text-align: center;
  height: 36px;
  width: 124px;
  border-radius: 15px;
  border-color: #211951;
  margin-left: 76px;
  font-weight: 450;
  font-size: 16px;
  font-family: "Poppins", sans-serif;

}

.registerrouter {
  width: 100%;
  display: block;
  font-size: 16px;
  color: #fff;
  text-align: left;     
  margin: 6px;   
  text-align: center;
  font-weight: 450;
  font-family: "Poppins", sans-serif;

}

.registerrouter a {
  text-decoration-line: none;
  color: #fff;
  text-align: center;
  font-weight: 700;
}